{% extends 'layouts/base.html.twig' %}

{% block title %}
  Famms | Créer votre compte
{% endblock %}

{% block body %}
  {% set isInvalidPrenom = not registrationForm.prenom.vars.valid %}
  {% set isInvalidNom = not registrationForm.nom.vars.valid %}
  {% set isInvalidEmail = not registrationForm.email.vars.valid %}
  {% set isInvalidRue = not registrationForm.rue.vars.valid %}
  {% set isInvalidVille = not registrationForm.ville.vars.valid %}
  {% set isInvalidCp = not registrationForm.cp.vars.valid %}
  {% set isInvalidPays = not registrationForm.pays.vars.valid %}
  {% set isInvalidPassword = not registrationForm.password.vars.valid %}
  {% set isInvalidRoles = not registrationForm.roles.vars.valid %}

  <section class="why_section layout_padding">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <div class="full">
            {{ form_start(registrationForm) }}

            {{ form_row(registrationForm.prenom, { attr: { class: isInvalidPrenom ? 'input-error' : '' } }) }}
            {{ form_row(registrationForm.nom, { attr: { class: isInvalidNom ? 'input-error' : '' } }) }}
            {{ form_row(registrationForm.email, { attr: { class: isInvalidEmail ? 'input-error' : '' } }) }}
            {{ form_row(registrationForm.rue, { attr: { class: isInvalidRue ? 'input-error' : '' } }) }}
            {{ form_row(registrationForm.ville, { attr: { class: isInvalidVille ? 'input-error' : '' } }) }}
            {{ form_row(registrationForm.cp, { attr: { class: isInvalidCp ? 'input-error' : '' } }) }}
            {{ form_row(registrationForm.pays, { attr: { class: isInvalidPays ? 'input-error' : '' } }) }}
            {{ form_row(registrationForm.password.first, { attr: { class: isInvalidPassword ? 'input-error' : '' } }) }}

            {{ form_row(registrationForm.password.second, { attr: { class: isInvalidPassword ? 'input-error' : '' } }) }}

            <input type="submit" value="Continuer" />
            {{ form_end(registrationForm) }}
          </div>
        </div>
      </div>
    </div>
  </section>

  {% for flash_error in app.flashes('verify_email_error') %}
    <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
  {% endfor %}
{% endblock %}
