{% extends 'layouts/base.admin.html.twig' %}

{% block title %}
  BackOffice | Ajouter un déplacement
{% endblock %}

{% block body %}
  <section class="section is-title-bar">
    <div class="level">
      <div class="level-left">
        <div class="level-item">
          <ul>
            <li>BackOffice</li>
            <li>Déplacements</li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section class="section is-main-section">
    <div class="card">
      <header class="card-header">
        <p class="card-header-title">
          <span class="icon"><span class="mdi mdi-account-plus"></span></span>
          {% if deplacementId is not null %}
            Modifier
          {% else %}
            Ajouter
          {% endif %}un déplacement
        </p>
      </header>
      <div class="card-content">
        {{ form_start(formDeplacement) }}

        {# Nom / Distance #}
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">Nom / Distance</label>
          </div>
          <div class="field-body">
            <div class="field">
              {{ form_label(formDeplacement.nom) }}
              <p class="control is-expanded">{{ form_widget(formDeplacement.nom) }}</p>
              {{ form_errors(formDeplacement.nom) }}
            </div>

            <div class="field">
              {{ form_label(formDeplacement.distance) }}
              <p class="control is-expanded">{{ form_widget(formDeplacement.distance) }}</p>
              {{ form_errors(formDeplacement.distance) }}
            </div>
          </div>
        </div>

        {# Rue / Ville / CP #}
        <div class="field is-horizontal">
          <div class="field-label is-normal">

              <label class="label">Cheval / Structure</label>
          </div>
          <div class="field-body">
            <div class="field">
              {{ form_label(formDeplacement.cheval) }}
              <p class="control is-expanded">
                <div class="select is-fullwidth">{{ form_widget(formDeplacement.cheval) }}</div>
              </p>
              {{ form_errors(formDeplacement.cheval) }}
            </div>

            <div class="field">
              {{ form_label(formDeplacement.structure) }}
              <p class="control is-expanded">
                <div class="select is-fullwidth">{{ form_widget(formDeplacement.structure) }}</div>
              </p>
              {{ form_errors(formDeplacement.structure) }}
            </div>

          </div>
        </div>


        <hr />

        {# Bouton de soumission #}
        <div class="field is-horizontal">
          <div class="field-label">
            {# Vide pour alignement #}
          </div>
          <div class="field-body">
            <div class="field">
              <div class="field is-grouped">
                <div class="control">
                  <button type="submit" class="button is-primary">
                    {% if deplacementId is not null %}
                      Modifier
                    {% else %}
                      Ajouter
                    {% endif %}
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

        {{ form_end(formDeplacement) }}
      </div>
    </div>
  </section>
{% endblock %}
