{% extends 'layouts/base.admin.html.twig' %}

{% block title %}
  BackOffice | Générer factures
{% endblock %}

{% block body %}
  <section class="section is-title-bar">
    <div class="level">
      <div class="level-left">
        <ul>
          <li>Admin</li>
          <li>Facturation</li>
          <li>Génération</li>
        </ul>
      </div>
    </div>
  </section>

  <section class="section is-main-section">
    <div class="card">
      <header class="card-header">
        <p class="card-header-title">
          <span class="icon"><i class="mdi mdi-file-document"></i></span>
          Générer les factures
        </p>
      </header>

      <div class="card-content">
        {{ form_start(form) }}

        <div class="field">{{ form_label(form.moisDeGestion) }}
          {{ form_widget(form.moisDeGestion) }}
          {{ form_errors(form.moisDeGestion) }}</div>

        <div class="field">
          <button class="button is-primary">Générer</button>
        </div>

        {{ form_end(form) }}
      </div>
    </div>
  </section>
{% endblock %}
