{% extends 'layouts/base.admin.html.twig' %}

{% block title %}
    BackOffice | Facturation Utilisateurs
{% endblock %}

{% block body %}
<section class="section">

    <div class="level mb-5">

        <div class="level-left">
            <h1 class="title is-4">Facturation Utilisateurs</h1>
        </div>

        <div class="level-right">

            <a href="{{ path('app_admin_facturation_generer_utilisateur') }}" class="button is-primary">

                <span class="icon">
                    <i class="mdi mdi-plus"></i>
                </span>

                <span>Générer des factures</span>

            </a>

        </div>

    </div>


    {% for label, messages in app.flashes(['success', 'danger']) %}

        {% for message in messages %}

            <div class="notification is-{{ label }}">

                <button class="delete"></button>

                {{ message }}

            </div>

        {% endfor %}

    {% endfor %}



    {% set currentEntreprise = null %}
    {% set currentMonth = null %}



    {% for facture in factures %}

        {% set entrepriseNom = facture.entreprise.nom %}
        {% set monthYear = ('%02d'|format(facture.moisDeGestion.mois)) ~ '/' ~ facture.moisDeGestion.annee %}



        {# Nouvelle entreprise #}

        {% if currentEntreprise != entrepriseNom %}

            {% if currentEntreprise is not null %}
                </div>
            {% endif %}

            <div class="card mb-5">

                <header class="card-header has-background-light">

                    <p class="card-header-title has-text-weight-bold">

                        Entreprise : {{ entrepriseNom }}

                    </p>

                </header>

                <div class="card-content">

            {% set currentEntreprise = entrepriseNom %}
            {% set currentMonth = null %}

        {% endif %}



        {# Nouveau mois #}

        {% if currentMonth != monthYear %}

            <div class="month-header has-background-light p-3 mb-3">

                <strong>Mois :</strong>

                <span class="tag is-primary">

                    {{ monthYear }}

                </span>

            </div>

            {% set currentMonth = monthYear %}

        {% endif %}



        <div class="box mb-3">

            <div class="columns is-vcentered is-mobile">



                {# CLIENT #}

                <div class="column is-2">

                    <strong>Client :</strong><br>

                    {{ facture.utilisateur.nom }} {{ facture.utilisateur.prenom }}

                </div>
    {# NUMERO FACTURE #}

                <div class="column is-2">

                    <strong>N° :</strong><br>

                    <span class="tag is-dark">

                        {{ facture.numFacture }}

                    </span>

                </div>



                {# TOTAL #}

                <div class="column is-2">

                    <strong>Total :</strong><br>

                    <span class="tag is-success">

                        {{ totauxTtc[facture.id]|number_format(2, ',', ' ') }} €

                    </span>

                </div>



                {# STATUT #}

                <div class="column is-2">

                    <strong>Statut :</strong><br>


                    {% if facture.statut == 'payee' %}

                        <span class="tag is-success">
                            Payée
                        </span>


                    {% elseif facture.statut == 'impayee' %}

                        <span class="tag is-danger">
                            Impayée
                        </span>


                    {% else %}

                        <span class="tag is-warning">
                            En attente
                        </span>

                    {% endif %}


                </div>



                {# ACTIONS #}

                <div class="column is-4 has-text-right">



                    {# PDF #}

                    <a href="{{ path('app_admin_facturation_pdf_utilisateur', { id: facture.id }) }}"

                       class="button is-info"

                       title="PDF">

                        <span class="icon">
                            <i class="mdi mdi-file-pdf-box"></i>
                        </span>

                    </a>



                    {# MARQUER PAYE #}

                    {% if facture.statut != 'payee' %}

                        <a href="{{ path('app_admin_facturation_payer', { id: facture.id }) }}"

                           class="button is-success"

                           title="Marquer payée">

                            <span class="icon">
                                <i class="mdi mdi-cash-plus"></i>
                            </span>

                        </a>

                    {% endif %}



                    {# SUPPRIMER #}

                    <button class="button is-danger jb-modal"

                            data-target="modal-delete-{{ facture.id }}"

                            title="Supprimer">

                        <span class="icon">
                            <i class="mdi mdi-trash-can"></i>
                        </span>

                    </button>



                </div>

            </div>

        </div>



        {# MODAL DELETE #}

        <div id="modal-delete-{{ facture.id }}" class="modal">

            <div class="modal-background jb-modal-close"></div>

            <div class="modal-card">

                <header class="modal-card-head">

                    <p class="modal-card-title">

                        Confirmer la suppression

                    </p>

                    <button class="delete jb-modal-close"></button>

                </header>


                <section class="modal-card-body">

                    <p>

                        Voulez-vous vraiment supprimer la facture

                        <strong>{{ facture.numFacture }}</strong> ?

                    </p>

                </section>


                <footer class="modal-card-foot">

                    <button class="button jb-modal-close">

                        Annuler

                    </button>


                    <a href="{{ path('app_admin_facturation_delete_utilisateur', { id: facture.id }) }}"

                       class="button is-danger jb-modal-close">

                        Supprimer

                    </a>


                </footer>

            </div>

        </div>



    {% endfor %}



    {% if currentEntreprise is not null %}
        </div>
    {% endif %}



</section>

{% endblock %}
